<a class="list-group-item list-group-item-action py-3 d-flex align-items-center gap-2 {{#if (eq activeSection sectionName)}}active fw-bold{{/if}} {{extraClass}}" 
   href="{{url}}">
  <i class="bi {{icon}} fs-5"></i> 
  <span>{{title}}</span>
</a>